.nav{
    position: sticky;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); 
    padding: 10px;
}

.btn{
    background-color: #03CA9B;
    padding: 10px 12px;
}

.btn:hover{
    background-color: #ffffff;
    color: #03CA9B;
}

@media (max-width: 600px) {
    .nav {
        padding: 8px; /* Adjust padding for smaller screens */
    }
}